registry=http://registry.npmjs.org/
proxy=http://proxy-sgt.si.socgen:8080
https-proxy=http://proxy-sgt.si.socgen:8080
sass_binary_site=https://sgithub.fr.world.socgen/A389523/node-sass/releases/download
